<nav>
  <div class="menu-icon">
     <fa-icon [icon]="faBars"></fa-icon>

  </div>
  <div class="logo">
     Orchid-Bakery
  </div>
  <div class="nav-items">
     <li><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Blogs</a></li>
     <li><a href="#">Contact</a></li>
     <li><a href="#">Feedback</a></li>
  </div>
  <!-- <div class="search-icon">
     <span class="fas fa-search"></span>
  </div> -->
  <div class="cancel-icon">
     <!-- <span class="fas fa-times"></span> -->
     <fa-icon [icon]="faTimes"></fa-icon>
  </div>
  <form action="#">
     <input type="search" class="search-data" placeholder="Search" required>
     <button type="submit">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
     </button>
  </form>
  <a class="logout" href="#">Log Out</a>
</nav>
<!-- <div class="content"> -->
  <!-- <img src="../../../assets/images/coffee.jpg"> -->
  <!-- <header class="space">Responsive Navbar with Search Box</header>
  <div class="space text">
     using HTML CSS & JavaScript
  </div> -->
<!-- </div> -->
  <img src="../../../assets/images/coffee.jpg" class="CoffeeImage">
